<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amazing Webshop</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>

    <label class="logo">Amazing webshop</label>
    <ul>
        <li><a class="active" href="/">Homepage</a> </li>
        <li><a href="/only-availabe">Only Available</a> </li>
        <li><a href="/cheapest-first">Cheapest First</a> </li>
        <li><a href="/contains-nike">Contains Nike</a> </li>
        <li><a href="/avarage-stock">Avarage Stock</a> </li>
        <li><a href="/most-expensive">Most Expensive Available </a></li>
    </ul>
</nav>

<table>
    <tr>
        <th> Avarage stock</th>

    </tr>
         <td th:text="${avg.asDouble}"></td>


</table>


</body>
</html>