<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">>
    <title>Really Usefull Reddit clone</title>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">


</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="logo.png"
            </div>
        <ul>
            <li><a href="#">Home</a> </li>

            <li><a href="#">Contact</a> </li>
        </ul>
        </div>

    </header>
    <div class="title">
        <h1>Most trending posts</h1>

    </div>
    <form action="#" th:action="@{/newpost}" method="get">
        <input type="submit" value="New Post" class="btn btn-primary btn-lg" >
    </form>

    <table >

        <tr th:each="posts:${posts}">
            <td  th:text="${posts.karma}"></td>
            <td><a th:href="'/increment/?id='+${posts.id}">+</a></td>
            <td><a th:href="'/declare/?id='+${posts.id}">-</a></td>
            <td ><a th:href="${posts.url}" th:text="${posts.title}"></a></td>
            <td th:text="${#temporals.format(posts.timestamp,'dd-MM-yyyy HH:mm')}"></td>

        </tr>

    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>1+1</script>
</body>
</html>